<!DOCTYPE html>
<html>
    <head>
        <title>hotels</title>
    </head>
    <body>
        <div class="hotels">
        <div class="wrapper">
            <h1>PHILIPPINES</h1>
            <div class="image i1"></div>
            <div class="details"><h1><em>Boracay Island</em></h1>
            <h2>Surfer's Home</h2>
            <p>3 Days - 2 Nights</p></div>
            <h1>£750</h1>
          </div>
          
          <div class="wrapper">
            <h1>THAILAND</h1>
            <div class="image i2"></div>
            <div class="details"><h1><em>Mae Hong Son</em></h1>
            <h2>Farmer's Walk</h2>
            <p>4 Days - 3 Nights</p></div>
            <h1>£950</h1>
          </div>
          
          <div class="wrapper">
            <h1>JAPAN</h1>
            <div class="image i3"></div>
            <div class="details"><h1><em>Tokyo</em></h1>
            <h2>Mandarin Oriental</h2>
            <p>3 Days - 2 Nights</p></div>
            <h1>£1250</h1>
          </div>
          
          <div class="wrapper">
            <h1>KOREA</h1>
            <div class="image i1"></div>
            <div class="details"><h1><em>Seoul</em></h1>
            <h2>Ramada Hotel</h2>
            <p>3 Days - 2 Nights</p></div>
            <h1>£1250</h1>
          </div>
          
          <div class="wrapper">
            <h1>PHILIPPINES</h1>
            <div class="image i2"></div>
            <div class="details"><h1><em>Boracay Island</em></h1>
            <h2>Surfer's Home</h2>
            <p>3 Days - 2 Nights</p></div>
            <h1>£750</h1>
          </div>
          
          <div class="wrapper">
            <h1>THAILAND</h1>
            <div class="image i3"></div>
            <div class="details"><h1><em>Mae Hong Son</em></h1>
            <h2>Farmer's Walk</h2>
            <p>4 Days - 3 Nights</p></div>
            <h1>£750</h1>
          </div>
</div>

    </body>
</html>